html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  width: 100%;
  padding: 0;
  background-color: rgb(247, 243, 243);
}

.tonic {
  display: grid; /* end-of-line comment */
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-left: 142px;
  margin-right: 142px;
  padding: 24px;
  background-color: white;
  border-radius: 20px;
  width: 1156px;
  height: 496px;
}

.tonic-b {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.tonic-b1 {
  padding-top: 0;
  padding-right: 46px;
  width: 496px;
  height: 20px;
}

.b1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #091e42;
}

.tonic-b2 ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.tonic-b2 li {
  display: inline-block;
  color: #263c63;
  text-align: left;
}

.tonic-b3 {
  padding-right: 46px;
  padding-top: 10px;
  color: #0c306d;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  height: 0;
  width: 496px;
  left: 24px;
  top: 100px;
}

.tonic-b4 {
  display: flex; /* end-of-line comment */
}

.tonic-b4 ul {
  text-decoration: none;
}

.tonic-b4 li {
  display: inline-block;
  list-style: none;
  word-spacing: 5px;
}

.multi-post {
  display: grid; /* end-of-line comment */
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin: 142px 142px;
  padding: 24px;
  background-color: white;
  border-radius: 20px;
  width: 1156px;
  height: 496px;
}

.lang2 li {
  list-style: none;
}

.app li {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.uber14 li {
  display: inline-block;
  text-decoration: none;
  word-spacing: 5px;
}

.facebook22 li {
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
}

.facebook23 p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #13223b;
}

.facebook24 li {
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
  color: #6070ff;
}

.post15 li {
  display: inline-block;
  text-decoration: none;
  word-spacing: 5px;
}

.uber12 li {
  display: inline-block;
  text-decoration: none;
  word-spacing: 5px;
}

.uber13 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #04193f;
}

.multi-post li {
  display: inline-block;
  justify-content: space-between;
}

.post13 li {
  display: flex;
  display: inline-block; 
}

.multi-post12 ul li {
  display: inline-block;
  text-align: left;
  word-spacing: 20px;
}

.multi-post13 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.post12 {
  width: 496px;
  height: 46px;
  padding-top: 48px;
  padding-right: 46px;
  padding-bottom: 20px;
  color: #091e42;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
}

.post13 {
  display: grid; /* end-of-line comment */
  grid-template-columns: 1fr 1fr 1fr;
  height: 24px;
  width: 96px;
  padding: 30px 46px 32px 48px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.post14 {
  height: 70px;
  width: 496px;
  left: 24px;
  top: 146px;
}

.post14 p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #053480;
}

.post15 {
  width: 210px;
  height: 18px;
}

.post15 ul { display: flex; }

.post16 {
  width: 100px;
  height: 76px;
  padding-left: 60px;
  padding-bottom: 132px;
  padding-top: 60px;
}

.facebook {
  display: grid; /* end-of-line comment */
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 142px 142px;
  padding: 24px 24px 24px 46px;
  background-color: white;
  border-radius: 20px;
  width: 1156px;
  height: 496px;
}

.uber-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr; /* end-of-line comment */
  grid-gap: 5px;
  margin: 142px;
  padding: 24px 24px 0 24px;
  background-color: white;
  border-radius: 20px;
  width: 1156px;
  height: 496px;
}

.uber11 p {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #041d47;
}

.about-myself {
  display: grid; /* end-of-line comment */
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin: 142px 142px 0 142px;
  padding: 24px 24px 0 24px;
  background-color: white;
  width: 1156px;
  height: 496px;
  border-top-right-radius: 20px;
}

.about {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  word-spacing: 5px;
  text-align: left;
  height: 114px;
  width: 447px;
}

.dep {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7092cc;
}

.app {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #626dcf;
}

.app ul {
  display: flex;
}

.lang1 {
  height: 24px;
  width: 582px;
  left: 24px;
  top: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #4e6b9c;
}

.lang21 {
  height: 120px;
  width: 122px;
  left: 12px;
  top: 12px;
  border-radius: 8px;
  background-color: white;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 12px;
}

.lang22 {
  height: 120px;
  width: 122px;
  left: 12px;
  top: 12px;
  border-radius: 8px;
  background-color: white;
  flex: none;
  margin: 0 12px;
}

.lang23 {
  height: 120px;
  width: 122px;
  left: 12px;
  top: 12px;
  border-radius: 8px;
  background-color: white;
  flex: none;
  order: 0; /* end-of-line comment */
  flex-grow: 0;
  margin: 0 12px;
}

.lang2 {
  padding-top: 30px;
}

.lang2 ul { display: flex; }

.lang3 { /* end-of-line comment */
  padding-top: 10px;
  height: 1px;
  width: 684px;
  left: 0;
  top: 71px;
}

hr {
  width: 50%;
  color: black;
}
